/*清除格式*/
body,div,p {
    margin:0;
    padding:0;
 }

a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
html,body{
	height:100%;

}

body{
	width: 100%;
	background-color: #333;
 	font: normal 15px "microsoft yahei",Arial,sans-serif;
	color: #fff;
	min-width: 720px;

}

input{
	outline: none;
}
.aaa #beijing{
	height: 100%;
	width: 100%;
	background-color: #333;
	position: absolute;
	top: 0px;
	left:0px;
	z-index: 1;
	background-repeat:no-repeat;
	overflow:hidden;
	background-size:cover;
	background-position:center center;
}

.bbb #beijing{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	background-color: #333;
	background-repeat:no-repeat;
	overflow:hidden;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}

.aaa #aa_top,.aaa #xn_aa_top{
	position: absolute;
	left: 0;
	top: 0;
	width: 17%;
	height: 80%;
	margin-right: 45px;
}
.bbb #aa_top,.bbb #xn_aa_top{
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	height: calc(100% - 119px);
	margin-right: 45px;
}



.aaa #aa_bottom,.aaa #xn_aa_bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	height: calc(20% - 50px) ;
	width: 17%;

}

.aaa #tuijian,.aaa #xn_tuijian{
	position: absolute;
	top: 0;
	right: 0;
	width: 17%;
	height: 66%;
	margin-left: 45px;

}
.bbb #aa_bottom,.bbb #xn_aa_bottom{
	position: absolute;
	left: 0;
	top: 3000px;
	height: calc(20% - 50px) ;
	width: 17%;

}

.bbb #tuijian,.bbb #xn_tuijian{
	display: none;

}


.aaa #search,.aaa #xn_search{
	position: relative;
	top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: calc(66% - 90px);
	height:calc(66% - 45px);

}
.bbb #search,.bbb #xn_search{
	position: absolute;
	top: 45px;
	right: 0;
	width: calc(80% - 47px);
	height:calc(100% - 164px);
	min-width: 300px;
}

.aaa #unknown,.aaa #xn_unknown{
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(83% - 45px);
	height:calc(34% - 50px);	

}

#logo {
	position: fixed;
	bottom: 10px;
	left: 25px;
	z-index: 100;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	border: 1px solid #fff;
	cursor:pointer;
}

#guanbi {
	display: none;
	position: fixed;
	bottom: 575px;
	left: 25px;
	z-index: 100;
	width: 36px;
	height: 36px;
	cursor:pointer;
}


div.zhenshi{
	background-color: rgba(255,255,51,0.1);
	overflow: hidden;
	display: none;
	z-index: 2;
	border: 1px dashed rgba(0,128,0,0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
/*框架结束，，，，，，，，详细内容开始*/


#aa_top li{
	line-height: 36px;
	text-overflow : ellipsis;
	padding-right: 20px;
	overflow:hidden;
}
#aa_top li a{
	color: #0066CC;
}


#aa_bottom h2{

	position: absolute;
	line-height: 1px;
	left: 80px;
	bottom: 35px;
	color: green;
	font-size: 16px;
	font-weight:bold;
}
#aa_bottom span{

	font-size: 12px;
	line-height: 1px;
	cursor:pointer;
	bottom: 18px;
}
#tupianxinxi{
	
	position: absolute;
	left: 80px;
	

}
#huanyizhang{

	position: absolute;
	left: 140px;
 
}

#search form{
	position: relative;
	text-align:center;
	margin-top: 17%;

}
#form1 input[type="text"]{

	background: url('images/touming.png') no-repeat 600px center #EFEFEF;
	color: #d7d7d7;
	font-size: 15px;
	width: 360px;
	padding-left: 12px;
	height: 36px;
	border-radius: 7px;
	border: 0 none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5) inset;

	transition: all 0.8s ease 0s;
	-moz-transition:all 0.8s ease 0s;

}

/* 定义focus下的CSS，这里定义输入框宽度变化 */
#form1 input[type="text"]:focus{
	background: #EFEFEF url('images/baidu.png') no-repeat  right center scroll;
	color:#6a6f75;
	width: 394px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding-right: 96px;

}
li.gehang{
	height: 15px;

}

#search_btn{
	position: absolute;
	display: inline-block;
	left: calc(50% + 163px);
	width: 90px;
	height: 38px;
	border:none;
	background:transparent;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	color: #fff;
	font-size: 15px;
	cursor:pointer;
	z-index: 100px;

}


div.xuni{
	z-index: 2;
	cursor:pointer;
}

iframe{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}
#tuijian h1{
	text-align: center;
	font-size: 22px;

}
#tuijian p{
	 padding: 10px

}
#new_waike{
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: box; 
	display: flexbox;  
	display: flex;
}


.news{

	flex: 1;
	height: 90%;
	margin-left:9px;
	margin-top: 7px;
	border-right: 1px dashed rgba(0,128,0,0.5);
	padding: 5px 8px;
}
.news li{
	margin: 10px 0px;
	height: 30px;
}
.news li a{
	color: #fff;
}
.news p{
	height: 20px;
	color: green;
}
.news span{
	float: right;
	color: #ccc;
}
.aaa #tishi,.bbb #tishi{
	position: fixed;
	top: 15px;
	left: 36%;
	z-index: 100;
}
 #tishi span{
 	color: #FF9999;
 }
 p span a{
 	color: #FF9999;
    	cursor: pointer;
    	font-weight: bold
 }



.mmm html{
	font-size: 10px;
}
.mmm #beijing{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	background-color: #333;
	background-repeat:no-repeat;
	overflow:hidden;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}
.mmm .xuni{
	display: none;
}
.mmm .zhenshi{
	display: none;
}
.mmm #tishi{
	position: absolute;
	bottom: 8rem;
	width: 100%;
	text-align:center;
	z-index: 100;

}
.mmm #tishi p{
	font-size: 8rem;
	line-height: 2rem;
	margin-bottom: 4.5rem

}

.mmm #tishi p span{
	font-size: 2.5rem;
	color: #fff;

}



